@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Cores */
    --primary-color: #050c1a;
    --secondary-color: #D79B2B;
    --tertiary-color: #f7dfb4;
    --accent-color: #553802;
    --light-color: #F8FAFC;
    --alternate-color: #2b1b00;
    --cards-color:#171c28;

    /* Tipografia */
    --title-font: 'Fjalla One', sans-serif;
    --secondary-font: 'Work Sans', sans-serif; 
    /*medidas*/
    --nav-height: 80px;
    --header-height: 100px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
section[id] {
    scroll-margin-top: var(--header-height);
}
body{
    font-family: var(--secondary-font);
    background-color: var(--primary-color);
    color: var(--alternate-color);
}

header {
   width: 100%;
   background-color:var(--primary-color);
   position: fixed;
   top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: var(--header-height);
}
nav{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    padding-top: var(--header-height);
}
a{
    color: var(--light-color);
    text-decoration: none;
    font-weight:300;
}
.nav-links{
    display: flex;
    gap: 20px;
    
}
.logo{
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero{
    height:80vh;
    width:100%;
    position:relative;
    overflow:hidden;
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:
        linear-gradient(
            90deg,
            rgba(0,0,0,.95),
            rgba(0,0,0,.80),
            rgba(0,0,0,.25)
        ),
        url("../assets/academia.png");
    background-size:cover;
    background-position:center;
}
.hero-container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.hero-content{
    flex:1;
    max-width:650px;
    position:relative;
    z-index:2;
    
}
.hero-content h1,
.hero-content p{
    width:100%;
}
.hero-content h1,
.CTAfinal h3{
    font-size: 80px;
    line-height: 1;
    font-family: var(--title-font);
    color: var(--light-color);
    margin-bottom: 20px;
}
.hero-image{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    z-index:2;
}
.hero-image img{
    width:auto;
    max-height:80vh;
    
    display:block;
}

.index-text{
    color: var(--light-color);
    font-size: 18px;
    line-height: 1.5;
    max-width: 600px;
}
.destaque{
    color: var(--secondary-color);
}
.cta, .cta-header{
    display:inline-flex;
    align-items:center;
    gap: 16px;

    padding: 16px 32px;

    border:2px solid var(--secondary-color);
    border-radius: 12px;

    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;

    transition: all .3s ease;
}
.cta:hover, .cta-header:hover{
    background-color: var(--secondary-color);
    color: var(--light-color);
    transform: translateY(-3px);
}
h1, h2{
    font-family: var(--title-font);
    color: var(--light-color);
    margin-bottom: 20px;
}
p{
    margin-bottom: 10px;
}
.line{
    display:block;

    width:100px;
    height:4px;

    background:var(--secondary-color);

    margin-bottom:30px;
}
.benefits{
    display:flex;
    gap:30px;
    margin-top:40px;
}
.benefit{
    flex:1;
    display:flex;
    align-items:center;
    gap:12px;
    max-width:300px;
}
.benefit:not(:last-child){
    border-right:1px solid var(--secondary-color);
    padding-right:10px;
}

.benefit img{
    width:40px;
    height:40px;
}
.benefit h3{
    font-size:14px;
    color:var(--light-color);
    line-height:1.3;
    font-weight:500;
}


.about{
    width:100%;
    text-align: center;
    padding:80px 60px;
    border-top:1px solid var(--secondary-color);
    border-bottom:1px solid var(--secondary-color);
    background:
    linear-gradient(
        180deg,
        #050c1a 0%,
        #081326 100%
    );
}
.about-container{
    display:flex;
    flex-direction:column;
    gap:24px;
    max-width:1100px;
    margin:0 auto;
    padding: 0 80px;
}
.about-content{
    max-width:1200px;
    margin:0 auto;
}
.about h2,
.differential h2,
.who h2{
    font-size: 48px;
    color: var(--secondary-color);
    text-align:center;
    margin-bottom: 60px;
}
.about h2::after,
.differential h2::after,
.who h2::after{
    content: '';
    margin: 0 auto 30px auto;
    display: block;
    width: 80px;
    height: 3px;
    background: var(--secondary-color);
    margin:20px auto 0;
}
.about p{
    font-size: 24px;
    line-height: 1.8;
    margin: 0 auto 24px auto;
    text-align: left;
    max-width: 1000px;
    
}
.about-cta{
    margin-top: 20px;

}
.cta-about{
   padding: 20px 40px;
   font-size: 24px;
   transform:scale(1.2);
}
.differential,
.who{
    padding: 20px;
    border-bottom:2px solid var(--cards-color);
}
.differential-grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.differential-card{
    background-color: var(--cards-color);
    padding: 10px;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--cards-color);
    border-radius: 8px;
    margin-top: 5px;
    
}
.differential-card h3,
.who-cards h3{
    color: var(--secondary-color);
    min-height: 48px;
}
.differential-img,
.who-img {
    margin-top: auto;
    width: 50px;
}
.who{
    display: flex;
    flex-direction: column;
    align-items:center ;
    padding: 100px 40px;
}
.who-grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    max-width: 90%;
}
.who-cards{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    text-align: center;
    padding: 5px;
}
.who-cards:not(:last-child){
    border-right: 1px solid var(--secondary-color);
    margin-right: 5px;
}
.CTAfinal{
    padding: 60px;
    background-image:
        linear-gradient(
            90deg,
            rgba(0,0,0,.95),
            rgba(0,0,0,.80),
            rgba(0,0,0,.30)
            ),
        url(../assets/option1.png);
        
    background-size:cover;
    background-position:right top;
    background-repeat: no-repeat;
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}
.CTAfinal-container{
    width: 60%;
    gap: 10px;
}
.ctafinal-title span{
    display: block;
    margin-top: 8px;
}
.ctafinal-button{
    width: 100%;
    gap: 30px;
    display: flex;
}
.principal-button{
    display: flex;
    align-items: center;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    border-radius: 12px;
    color: var(--primary-color);
    padding: 25px 60px;
    font-weight: bold;
    font-family: var(--secondary-font);
    transition: all ease 0.3s;
}
.secondary-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 12px;
    color: var(--secondary-color);
    padding: 25px 60px;
    font-weight: bold;
    font-family: var(--secondary-font);
    transition: all ease 0.3s;
}
.principal-button:hover{
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--light-color);
    transform: scale(1.1);
}
.secondary-button:hover{
    background-color: rgba(101, 99, 99, 0.25);
    color: var(--light-color);
    transform: scale(1.1);
}
.footer-container{
    display: flex;
    flex-direction: column;
}
.slogan{
    color: var(--light-color);
}
.footer-icons{
    width: 25px;
    transition: all ease 0.3s;
}
.footer-icons:hover{
    transform: scale(1.2);
}
.devby{
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    margin-top: 20px;
    font-size: 14px;
}
.linkdevby{
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
}
.linkdevby:hover{
    color: var(--light-color);
    transition: color 0.3s ease;
    
}
footer {
    margin-top: 20px;
    text-align: center;
    
    bottom: 10px;
}