@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Cores */
    --primary-color: #050c1a;
    --secondary-color: #D79B2B;
    --tertiary-color: #f7dfb4;
    --accent-color: #553802;
    --light-color: #F8FAFC;
    --alternate-color: #2b1b00;
    --dark-color: rgba(255,255,255,0.02);
    
    /* Tipografia */
    --title-font: 'Fjalla One', sans-serif;
    --secondary-font: 'Work Sans', sans-serif; 
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.success-page{
    background-color: var(--primary-color);
    min-height: 100vh;
    color: var(--light-color);
    font-family: var(--secondary-font);
}

.logo-success-page{
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.success-header{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--secondary-color);
}
main{
    min-height: 75vh;
    
    display:flex;
    justify-content:center;
    align-items:center;

    padding:30px 20px;

    position:relative;

    background:
        
        url("../assets/bgimg.png");
    background-size: cover;
    background-position: center;
}
main::before{
    content:"";

    position:absolute;

    inset:0;

    background:
    linear-gradient(
        90deg,
        rgba(215,155,43,0.05),
        transparent 25%,
        transparent 75%,
        rgba(215,155,43,0.05)
    );

    pointer-events:none;
}

.success-card{
    background-color: var(--primary-color);
    
    opacity: 0.95;
    max-width: 970px;
    width: 100%;
    padding:40px;
    margin: 10px auto;
    border: 1px solid var(--secondary-color);
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index:1;

    
}
.success-icon{
    width: 100px;
    
}

.whatsapp-success{
    
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 15px 35px;
    width: 40%;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 700;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    transition:  .3s ;
    box-shadow: 0 5px 15px rgba(87, 62, 9, 0.15);
}
.whatsapp-success:hover{
    background:var(--dark-color);
    color:var(--light-color);
}
.success-title{
    color: var(--light-color);
    font-family: var(--title-font);
    text-align: center;
    margin-top: 20px;
}
.success-title span{
    display: block;
    color: var(--secondary-color);
}
.divider{

width:140px;

height:2px;

background:var(--secondary-color);

margin:25px auto;

}
.success-message{
    color: var(--light-color);
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    width: 60% ;
}

.devby{
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    margin-top: 20px;
    font-size: 14px;
}
.linkdevby{
    color: var(--secondary-color);
    text-decoration: none;
}
.linkdevby:hover{
    color: var(--accent-color);
    transition: color 1.3s ease;
    
}
footer {
    border-top: 2px solid var(--secondary-color);
    padding: 20px;
    text-align: center;
    
    bottom: 20px;
}